build_image:
  image: docker:git
  services:
    - docker:dind
  variables:
    CEPH_VERSION: '15.2.9'
    KUBE_VERSION: '1.21.1'
    DOCKER_VERSION: '19.03.15-3'
    CRIO_MAJOR_VERSION: '1.21'
    CRIO_VERSION: '1.21.0'
  script:
    - apk add curl
    - curl -L -o ${PWD}/devel-kubic-libcontainers-stable.repo https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/CentOS_7/devel:kubic:libcontainers:stable.repo
    - curl -L -o ${PWD}/devel-kubic-libcontainers-stable-cri-o-${CRIO_MAJOR_VERSION}.repo https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/${CRIO_MAJOR_VERSION}:/${CRIO_VERSION}/CentOS_7/devel:kubic:libcontainers:stable:cri-o:${CRIO_MAJOR_VERSION}:${CRIO_VERSION}.repo
    - >
      docker run -t --rm -v ${PWD}/rpms:/rpms -v ${PWD}/kubernetes.repo:/etc/yum.repos.d/kubernetes.repo centos:7.5.1804
      bash -c
      "yum install -y https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm &&
       yum install -y https://download.ceph.com/rpm-${CEPH_VERSION}/el7/noarch/ceph-release-1-1.el7.noarch.rpm &&
       yum install -y yum-utils &&
       yum-config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo &&
       mkdir -p /rpms/k8s &&
       mkdir -p /rpms/crio &&
       yum remove -y python-chardet chrony &&
       yum -y install --downloadonly --downloaddir=/rpms/k8s docker-ce-${DOCKER_VERSION}.el7.x86_64 docker-ce-cli-${DOCKER_VERSION}.el7.x86_64 docker-python docker-compose python-chardet python-requests &&
       yum -y install --downloadonly --downloaddir=/rpms/k8s chrony audit rsync jq git tcpdump nc bind-utils net-tools ipvsadm graphviz &&
       yum -y install --downloadonly --downloaddir=/rpms/k8s ceph-deploy ceph ceph-radosgw radosgw-agent rbd-nbd rbd-mirror open-vm-tools nfs-utils &&
       yum -y install --downloadonly --downloaddir=/rpms/k8s kubectl-${KUBE_VERSION} kubelet-${KUBE_VERSION} kubeadm-${KUBE_VERSION} &&
       yum install -y createrepo &&
       yum clean all &&
       createrepo /rpms/k8s"
    - >
      docker run -t --rm -v ${PWD}/rpms:/rpms -v ${PWD}/devel-kubic-libcontainers-stable.repo:/etc/yum.repos.d/devel-kubic-libcontainers-stable.repo -v ${PWD}/devel-kubic-libcontainers-stable-cri-o-${CRIO_MAJOR_VERSION}.repo:/etc/yum.repos.d/devel-kubic-libcontainers-st
able-cri-o-${CRIO_MAJOR_VERSION}.repo centos:7.5.1804
      bash -c
      "yum -y install --downloadonly --downloaddir=/rpms/crio podman cri-o
       yum install -y createrepo &&
       yum clean all &&
       createrepo /rpms/crio"
    - chmod -R 755 ${PWD}/rpms
    - docker build -t wise2c/yum-repo:$CI_COMMIT_REF_NAME .
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker push wise2c/yum-repo:$CI_COMMIT_REF_NAME
  when: always
