sudo: required

services:
- docker

before_install:
- docker pull centos:7.4.1708
- docker pull centos:7.5.1804
- docker pull centos:7.6.1810

script:
- >
  docker run -t --rm -v ${PWD}/rpms:/rpms -v ${PWD}/kubernetes.repo:/etc/yum.repos.d/kubernetes.repo centos:7.4.1708
  bash -c
  "yum install -y https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm &&
   yum install -y https://download.ceph.com/rpm-mimic/el7/noarch/ceph-release-1-1.el7.noarch.rpm &&
   mkdir -p /rpms/centos74 &&
   yum remove -y python-chardet chrony &&
   yum -y install --downloadonly --downloaddir=/rpms/centos74 docker-1.13.1-75.git8633870.el7.centos.x86_64 docker-python docker-compose python-chardet python-requests &&
   yum -y install --downloadonly --downloaddir=/rpms/centos74 chrony audit rsync jq git tcpdump nc bind-utils net-tools &&
   yum -y install --downloadonly --downloaddir=/rpms/centos74 ceph-deploy ceph ceph-radosgw rbd-nbd rbd-mirror open-vm-tools  nfs-utils && 
   yum -y install --downloadonly --downloaddir=/rpms/centos74 kubernetes-cni-0.6.0 kubectl-1.8.15 kubelet-1.8.15 kubeadm-1.8.15"
   
  docker run -t --rm -v ${PWD}/rpms:/rpms -v ${PWD}/kubernetes.repo:/etc/yum.repos.d/kubernetes.repo centos:7.5.1804  
  bash -c
  "yum install -y https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm &&
   yum install -y https://download.ceph.com/rpm-mimic/el7/noarch/ceph-release-1-1.el7.noarch.rpm &&
   mkdir -p /rpms/centos75 &&
   yum remove -y python-chardet chrony &&
   yum -y install --downloadonly --downloaddir=/rpms/centos75 docker-1.13.1-75.git8633870.el7.centos.x86_64 docker-python docker-compose python-chardet python-requests &&
   yum -y install --downloadonly --downloaddir=/rpms/centos75 chrony audit rsync jq git tcpdump nc bind-utils net-tools &&
   yum -y install --downloadonly --downloaddir=/rpms/centos75 ceph-deploy ceph ceph-radosgw rbd-nbd rbd-mirror open-vm-tools  nfs-utils && 
   yum -y install --downloadonly --downloaddir=/rpms/centos75 kubernetes-cni-0.6.0 kubectl-1.8.15 kubelet-1.8.15 kubeadm-1.8.15"
   
  docker run -t --rm -v ${PWD}/rpms:/rpms -v ${PWD}/kubernetes.repo:/etc/yum.repos.d/kubernetes.repo centos:7.6.1810  
  bash -c
  "yum install -y https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm &&
   yum install -y https://download.ceph.com/rpm-mimic/el7/noarch/ceph-release-1-1.el7.noarch.rpm &&
   mkdir -p /rpms/centos76 &&
   yum remove -y python-chardet chrony &&
   yum -y install --downloadonly --downloaddir=/rpms/centos76 docker-1.13.1-75.git8633870.el7.centos.x86_64 docker-python docker-compose python-chardet python-requests &&
   yum -y install --downloadonly --downloaddir=/rpms/centos76 chrony audit rsync jq git tcpdump nc bind-utils net-tools &&
   yum -y install --downloadonly --downloaddir=/rpms/centos76 ceph-deploy ceph ceph-radosgw rbd-nbd rbd-mirror open-vm-tools  nfs-utils && 
   yum -y install --downloadonly --downloaddir=/rpms/centos76 kubernetes-cni-0.6.0 kubectl-1.8.15 kubelet-1.8.15 kubeadm-1.8.15 &&
   yum install -y createrepo &&
   yum clean all &&
   createrepo /rpms"
   
- sudo chmod -R 755 ${PWD}/rpms
- docker build -t wise2c/yum-repo:centos-all-$TRAVIS_BRANCH .
#- docker build -t wise2c/yum-repo:$TRAVIS_BRANCH .
- docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
- docker push wise2c/yum-repo:centos-all-$TRAVIS_BRANCH

# - docker push wise2c/yum-repo:$TRAVIS_BRANCH
